.container {
  margin: 0px  auto;
  padding: auto auto;

}
.weather-app {
  display: block;
  transform: scale(0.8);
  border-color:  rgba(213, 235, 235, 0.779); ;
  border-radius: 1%;
  background-color: rgba(213, 235, 235, 0.442);
  width: 700px;
  margin: 0px auto;
  padding: 20px 40px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}


h4:first-letter {
  text-transform: capitalize;
}

  h4 {font-size: 12px;
  margin: 10pxpx
}

h5:first-letter {
  text-transform: capitalize;
}

  h5 {font-size: 25px;
  margin: 10pxpx
}


.weather-metrics {
  display: flex;
  justify-content: center;
  gap: 20px; /* to create spacing between divs */
  padding: 20px 0;
  margin: auto 0px;
}

.weather-metrics > div {
  display: flex;
  align-items: center;
  gap: 8px; /* spacing between icon and text */
}

.wind, .humidity, .pressure {
    display: flex;
    align-items: center;
    gap: 10px;
}


.weather-metrics i {
  font-size: 20px;
}

.weather-metrics p {
  font-size: 15px;
}

.row {

  font-size: 40px;
  text-align: center;
}

.card {
  margin: auto;
  border: white;

  

}
.card-title {
  font-size: 20px;
}

.card-text {
  font-size: 12px;
}

.sunny-time, .thunder-time, .cold-time {
  font-size: 30px;
  margin: 10px auto 0;
}

.sunny-time {
 
  color: rgb(234, 234, 77);
}

.thunder-time {

  color: grey;
  
}

.cold-time {
  color: rgb(175, 215, 243);
}

.searchForm {
  display: flex;
  align-items: center;
}

.search-form-input {
  flex: 1; /* Allow the input to take up remaining space */
  height: 40px;
  margin: 25px 20px;
  padding: 0px 20px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  border-radius: 15px;
  color: black;
  transition-delay: 25ms;
}

.searchbutton {
  height: 40px; /* Adjust the height to make it smaller */
  margin: 25px 0; /* Adjust margin to control the spacing */
  padding: 0 10px; /* Adjust padding to control the button's size */
  font-size: 14px; /* Adjust the font size */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  border-radius: 15px;
  color: black;
  background-color: #ccc; /* Add a background color for the button */
  cursor: pointer;
}

.searchbutton:hover {
  display: flexbox;
  color: black;
  background-color:powderblue;
  border-radius: 15px;
  color: black;
  transition-delay: 25ms;
}


.Footnote {
font-size: 10px;
}