* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.weather-app {
  display: block;
  padding: 20px 20px;
  transform: scale(0.80);
  transform-origin: top center;
  border-color:  rgba(213, 235, 235, 0.779);
  border-radius: 5%;
  background-color: rgba(213, 235, 235, 0.442);
  width: 700px;
  margin: 0px auto;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}


h4:first-letter {
  text-transform: capitalize;
}

  h4 {font-size: 12px;
  margin: 10px
}

h5:first-letter {
  text-transform: capitalize;
}

  h5 {font-size: 25px;
  margin: 10px;
}


.weather-metrics {
  display: flex;
  justify-content: center;
  gap: 20px; 
  padding: 20px 0;
  margin: auto 0px;
}

.weather-metrics > div {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.wind, .humidity, .pressure {
    display: flex;
    align-items: center;
    gap: 10px;
}


.weather-metrics i {
  font-size: 20px;
}

.weather-metrics p {
  font-size: 15px;
}

#forecast {
  display: flex;
  justify-content: center;
}

.card {
  border: 5px solid white;
  border-radius: 10%;
  width: 15%;
  margin: 0 10px;
  text-align: center;
  padding: 5px; /* Adjust the padding to your preference */
}

.weather-forecast-icon img {
text-align: center;
  width: 50px;
}

.card-title {
  font-size: 20px;
  text-align: center;
}

.card-text {
  font-size: 12px;
  text-align: center;
}



.searchForm {
  display: flex;
  align-items: center;
  margin: 5px 70px;
}

.search-form-input {
  flex: 1;
  justify-content: center;
  align-items: center; 
  padding-left: 25px;
  height: 40px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  border-radius: 15px;
  color: black;
  transition-delay: 25ms;
}

.searchbutton {
  height: 40px; 
  margin: 25px 5px 25px 23px; 
  padding: 0 18px; 
  font-size: 14px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  border-radius: 35px;
  color: black;
  background-color: #ccc; 
  cursor: pointer;
}

.searchbutton:hover {
  display: flexbox;
  background-color:powderblue;
  border-radius: 15px;
  color: black;
  transition-delay: 25ms;
}


.Footnote {
font-size: 10px;
text-align: center;
}